/* ...General styles...Reset... */
div, p, nav, img, h1, h2, h3, h4, h5, h6, ul, li, a {
    display: block;
    margin: 0;
	padding: 0;
	border: 0;
    line-height: 1;
    list-style: none;
    text-decoration: none;
}
/* Fonts */
/* Logo and Headers Font */
@font-face { font-family: NeverMind Slab; src: url('./fonts/NeverMindSlab-Regular.ttf'); } 
/* Main content Font */
@font-face { font-family: Roboto Slab; src: url('./fonts/RobotoSlab-Light.ttf'); }
/* Fonts */

/* ...Home page styles start... */
/* ............................ */
/* Logo and Headers Font */
h1, title {
    font-family: 'NeverMind Slab', sans-serif;
      }
/* Main content Font */
h3, p, li, a {
    font-family: 'Roboto Slab', serif;
      }
/* Font sizes */
body {
    font-size: 18pt;
}
h1 {
    font-size: 1.4rem;
}
h3 {
    font-size: 1.2rem;
}
p, li, a {
    font-size: 1rem;
}
/* BG color Styles */
.navigation {
    background-color: white;
}
.main-content {
    background-color: whitesmoke;
}
.footer {
    background-color: lightgrey;
}
/* Building Blocks */
.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 130px;
    display: flex;
}
.main-content {
    width: 100vw;
    height: 130px;
    display: flex;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    display: flex;
}
/* ............................ */
/* ...Home page styles end... */