/* ...General styles...Reset... */
div, p, nav, img, h1, h2, h3, h4, h5, h6, ul, li, a, body, header, footer, section, main {
    box-sizing: border-box;
    display: block;
    margin: 0;
	padding: 0;
	border: 0;
    line-height: 1;
    list-style: none;
    text-decoration: none;
}
a, button {
    cursor: pointer;
}

/* .............................*/

/* Import Fonts */
/* Logo and Headers Font */
@font-face { font-family: NeverMind Slab; src: url('./fonts/NeverMindSlab-Regular.ttf'); } 
/* Main content Font */
@font-face { font-family: Roboto Slab; src: url('./fonts/RobotoSlab-Light.ttf'); }
/* ..... */

/* General Fonts Styles */
/* Logo and Header Font styles */
h1, title {
    font-family: 'NeverMind Slab', sans-serif;
      }
.nav-links li a {
    font-family: 'NeverMind Slab', sans-serif; 
}
/* Main content Font */
h3, p, li, a, form, input, textarea, button {
    font-family: 'Roboto Slab', serif;
      }
button {
    font-weight: bold;
}
/* Font sizes and weight */
body {
    font-size: 18pt;
}
h1 {
    font-size: 1.4rem;
}
h3 {
    font-size: 1.2rem;
    line-height: 1.6rem;
}
p, li, a {
    font-size: 1rem;
    line-height: 1.6rem;
}
.nav-links li a {
    font-size: 1.4rem;
    font-weight: bold;
}
.hero-text h1 {
    font-size: 3rem;
}
.grid-item p {
    font-size: 0.9rem;
}
form label {
    font-size: 0.9rem;
}
.footer p {
    font-size: 0.9rem;
}
#emojis {
     visibility: hidden; 
    font-size: 1.6rem;
    text-shadow: 1px 1px 2px rgb(163, 246, 252);
    margin-bottom: 16px;
}

/* Font color Styles */
.nav-links li a {
    color: black;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgb(163, 246, 252, 0.6);
}
/* General BG color Styles */
.navigation {
    background-color: white;
}
.main-content {
    background-color: whitesmoke;
}
.services {
    background-color: whitesmoke;
}
.footer {
    background-color: lightgrey;
}

/* Building Blocks. Main sections Styles */
/* ...................................... */
/* HEADER Styles: Navigation and Logo. All Pages */
/* Logo container styles */
.logo {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-flow: column;
    width: 160px;
    height: 68px;
}
#logo-text {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
    text-shadow: 1px 1px 2px rgb(163, 246, 252);
    margin: 4px 0;
}
#logo-caption {
    font-size: 0.58rem;
    font-weight: bold;
    letter-spacing: 0rem;
    text-shadow: 0.1px 0.1px 0.6px rgb(28, 35, 35);
    text-transform: uppercase;
    margin: 4px 0;
}
#logo-elem {
   font-size: 2rem; 
}
/* Navigation container Styles */
.navigation {
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    flex-flow: row;
    justify-content: space-between;
    padding: 16px;
}
.nav-links {
    width: 28vw;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 20px;
}

/* .......................... */
/* FOOTER Styles All Pages */
.footer {
    bottom: 0;
    width: 100vw;
    height: 50px;
    max-height: 60px;
    display: flex;
    align-items: center;
    flex-flow: row;
    justify-content: center;
    padding: 12px auto;
    font-weight: bold;
    flex-wrap: wrap;
}
/* ........................... */
/* HOME Page: MAIN Content Styles */
/* class="main-content" Styles for All Pages */
.main-content {
    width: 100%;
    height: auto;
}
/* Hero section */
.hero {
    height: 100vh;
    background-image: url("particles.jpg");
    background-color: lightgray;
    background-position: center;
    background-size: cover;
}

.hero-text {
    width: 100vw;
    height: 20%;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 16px;
    margin: 60px 0 30px 0;
    text-align: center;
}
.hero-text h1 {
    margin-bottom: 16px;
}

.hero-btns {
    width: 40%;
    min-width: 200px;
    height: 32px;
    margin: auto;  
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 16px;
    /*
    border: 1px solid black;
    border-radius: 8px; */
}
.hero-btns button {
    width: 106px;
    height: 30px;
}
#secret-message {
    visibility: hidden;
    width: 40%;
    min-width: 180px;
    padding: 30px 16px 16px 16px;
    height: fit-content;
    margin: 10px auto 0 auto;  
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px; 
    background-color: white;
}

/* SERVICES Page: MAIN Content Styles */
/* class="main-content" Styles for All Pages */
#services {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 40px 0;
    text-align: center;
}
#services h1 {
    margin-bottom: 16px;
}
.grid-container {
    width: 90vw;
    height: 100vh;
    min-height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
    padding: 30px;
    border: 0;
}
.grid-item-container {
    width: 98%;
    height: 98%; 
    border-radius: 8px;
    background-color: whitesmoke;
}
.grid-item {
    min-width: 140px;
    height: 50vh;
    min-height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(106, 106, 106, 0.4);
    background-color: white;
}
.item-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 16px;
}

/* ABOUT US Page: MAIN Content Styles */
/* ...About page... */
#about {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100vw;
    padding-top: 100px;
    text-align: center;
}
#about h1, h3 {
    margin-bottom: 20px;
}

/* CONTACT Page: MAIN Content Styles */
/* ...Contact page... */
#contact {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100vw;
    height: 60vh;
    padding: 40px 0;
    text-align: center;
}
#contact h1, h3, p {
    margin-bottom: 16px;
}

.contact-form {
    border: 1px solid black;
    border-radius: 8px;
    justify-content: center;
    align-items: start;
    flex-flow: column;
    padding: 30px;
}
.contact-form input {
    width: 380px;
    min-width: 280px;
    height: 30px;
    min-height: 20px;
    margin: 10px;
}
.contact-form textarea {
    width: 380px;
    min-width: 280px;
    height: 60px;
    min-height: 20px;
    margin: 10px;
}
.contact-form button {
    width: 28%;
    height: 30px;
    margin: auto;   
}
#contact-form {
    display: flex;
}
#form-submit-message {
    display: none;
    width: 100vw;
    height: 20%;
    text-align: center;
    padding: 16px;
    margin: 60px 0 30px 0;
    text-align: center;
}

/* MEDIA QUERY Semantic Styles */
@media (max-width: 600px) {
    /* Logo container All Pages */
    .logo {
    width: 100%;
    height: 130px;
    padding: 8px;
    }
    #logo-text {
    font-size: 6rem;
    margin: 16px 0;
    }
    #logo-caption {
    font-size: 1rem;
    margin: 6px 0;
    }
    #logo-elem {
   font-size: 3rem; 
    }
    /* Navigation All Pages */
   .nav-links {
        width: 80vw;
        margin-top: 16px;
    } 
    .nav-links li a {
        font-size: 1.2rem;
    }
    .navigation {
    flex-flow: column;
    justify-content: center;
    height: 300px;
    margin: 0;
    }
    /* Main content All Pages */
    .hero {
    margin: 0;
    }
    .hero-text {
        margin: 0;
    }
    /* Footer All Pages */
    .footer {   
        height: fit-content;
        padding: 10px;
    }
    /* Home Page Main section */

    .hero-text h1 {
    font-size: 2.6rem;
    }
    .hero-btns {
    width: 80%;
    gap: 10px;
    }
}
