/* ...General styles...Reset... */
* {
    display: block;
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    line-height: 1;
    list-style: none;
    text-decoration: none;
}
/* Fonts */
/* Logo and Headers Font */
@font-face { font-family: NeverMind Slab; src: url('NeverMindSlab-Regular.ttf'); } 
/* Main content Font */
@font-face { font-family: Roboto Slab; src: url('RobotoSlab-Light.ttf'); }
/* Fonts */

/* ...Home page styles start... */
/* Logo and Headers Font */
h1, title {
    font-family: 'NeverMind Slab', sans-serif;
      }
/* Main content Font */
h3, p, li, a {
    font-family: "Roboto Slab", serif;
      }
/* Font sizes */
body {
    font-size: 18pt;
}
h1 {
    font-size: 1.4rem;
}
h3 {
    font-size: 1.2rem;
}
p, li, a {
    font-size: 1rem;
}

/* ...Home page styles end... */