/* ...General styles...Reset... */
div, p, nav, img, h1, h2, h3, h4, h5, h6, ul, li, a, body, header, footer, section, main {
    box-sizing: border-box;
    display: block;
    margin: 0;
	padding: 0;
	border: 0;
    line-height: 1;
    list-style: none;
    text-decoration: none;
}
/* Fonts */
/* Logo and Headers Font */
@font-face { font-family: NeverMind Slab; src: url('./fonts/NeverMindSlab-Regular.ttf'); } 
/* Main content Font */
@font-face { font-family: Roboto Slab; src: url('./fonts/RobotoSlab-Light.ttf'); }
/* Fonts */

/* Logo and Headers Fonts */
h1, title {
    font-family: 'NeverMind Slab', sans-serif;
      }
.nav-links li a {
    font-family: 'NeverMind Slab', sans-serif; 
}
/* Main content Font */
h3, p, li, a {
    font-family: 'Roboto Slab', serif;
      }
/* Font sizes and weight */
body {
    font-size: 18pt;
}
h1 {
    font-size: 1.4rem;
}
h3 {
    font-size: 1.2rem;
}
p, li, a {
    font-size: 1rem;
    line-height: 1.6rem;
}
.nav-links li a {
    font-size: 1.4rem;
    font-weight: bold;
}
.banner-text h1 {
    font-size: 3rem;
}
.footer p {
    font-size: 0.9rem;
}
/* Font color Styles */
.nav-links li a {
    color: black;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgb(163, 246, 252, 0.6);
}
/* BG color Styles */
.navigation {
    background-color: white;
}
.main-content {
    background-color: whitesmoke;
}
.services {
    background-color: whitesmoke;
}
.footer {
    background-color: lightgrey;
}

/* Building Blocks */
.navigation {
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: flex-start;
    flex-flow: row;
    justify-content: space-between;
    padding: 16px;
}
.main-content {
    width: 100vw;
    min-height: 80vh;
    height: fit-content;
    display: flex;
}

.banner {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-flow: column;
    align-items: center;
    padding: 16px;
    background-image: url("particles.jpg");
    background-color: lightgray;
    background-position: center;
    background-size: cover;
}
.banner-text {
    width: 90%;
    height: 20%;
    margin-top: 60px;
    text-align: center;
}
.banner-text h1 {
    margin-bottom: 16px;
}
.banner-text h3 {
    margin-bottom: 40px;
}
.hero {
    height: 100vh;
}
.services {
    width: 100vh;
    height: 100vh;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
    border: 1px solid black;
}
.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border: 0.6px solid black;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px rgb(163, 246, 252);
}

.footer {
    bottom: 0;
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    flex-flow: row;
    justify-content: center;
    padding: 16px;
}

/* Navigation and Logo */
.logo {
    display: block;
    width: 160px;
    height: 68px;
    /*
    border: 0.6px solid black;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px rgb(163, 246, 252); */
    
}
#logo-text {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
    text-shadow: 1px 1px 2px rgb(163, 246, 252);
}
#logo-caption {
    font-size: 0.56rem;
    font-weight: bold;
    letter-spacing: 0rem;
    text-shadow: 0.1px 0.1px 0.6px rgb(28, 35, 35);
    margin-top: 3px;
    text-transform: uppercase;
}
#logo-elem {
   font-size: 2rem; 
}

.nav-links {
    width: 28vw;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    gap: 20px;
    /*
    border: 0.6px solid black;
    border-radius: 4px; */
}


/* ...About page... */
#about {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100vw;
    padding-top: 140px;
    text-align: center;
}
#about h1 {
    margin-bottom: 16px;
}

/* ...Services page... */
#services {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100vw;
    padding: 40px 0;
    text-align: center;
}
#services h1 {
    margin-bottom: 16px;
}
.grid-container {
    width: 90vw;
    height: 100vh;
    min-height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px;
    border: 0px;
}
.grid-item {
    display: flex;
    min-width: 140px;
    height: 40vh;
    min-height: 100px;
    margin: 30px;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 0.6px rgb(106, 106, 106, 0.4);

}
/* ...Contact page... */
#contact {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100vw;
    padding: 40px 0;
    text-align: center;
}
#contact h1 {
    margin-bottom: 16px;
}
#contact h3 {
    margin-bottom: 16px;
}
