/* ...General styles...Reset... */
* {
    display: block;
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    line-height: 1;
    list-style: none;
    text-decoration: none;
}
/* Fonts */


/* ...Home page styles start... */



/* ...Home page styles end... */